<h2>自分をフォローしているユーザー</h2>

<% if @followers.present? %>
  <% @followers.each do |user| %>
    <div class="user">
      <%= user.name %>
    </div>
  <% end %>
<% else %>
  <p>自分をフォローしているユーザーはまだいません。</p>
<% end %>