<h2>フォローしているユーザー</h2>

<% if @followings.present? %>
  <% @followings.each do |user| %>
    <div class="user">
      <%= user.name %>
    </div>
  <% end %>
<% else %>
  <p>フォローしているユーザーはまだいません。</p>
<% end %>
