<h1 class="text-center my-4"><i class="fas fa-leaf"></i> About</h1>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">

      <p>
        <i class="fas fa-seedling text-success"></i>
        「Mango Connect」は、宮崎県産の規格外マンゴーに特化した情報共有SNSです。<br>
        規格外でも美味しく食べられるマンゴーを必要としている人と、生産者や販売者をつなぐ場所として誕生しました。
      </p>

      <p>
        <i class="fas fa-shopping-basket text-warning"></i>
        地元宮崎県のマンゴーは高級品として知られていますが、形や傷の程度によっては市場に出せないものも多くあります。<br>
        このアプリでは、そうした規格外マンゴーの情報を気軽に投稿し、家庭用や飲食店の材料としてマンゴーを探している人とマッチングすることができます。
      </p>

      <p>
        <i class="fas fa-hand-holding-heart text-danger"></i>
        フードロス削減はもちろん、手頃な価格で美味しいマンゴーを楽しむ機会を提供し、地域の農家さんや飲食店にも役立つプラットフォームを目指しています。
      </p>

      <div class="text-center mt-4">
        <%= link_to '<i class="fas fa-home"></i> トップページ'.html_safe, root_path, class: 'btn btn-primary' %>
      </div>

    </div>
  </div>
</div>

