<% if user_signed_in? %>
  <div class="container mt-4 mb-4">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <%= render 'public/searches/searches' %>
      </div>
    </div>
  </div>
<% end %>

<h1 class="mb-4 text-center">Mango Connect</h1>

<div class="mb-4">
  <%= link_to '新規投稿', new_post_path, class: 'btn btn-success me-2' %>
  <% if current_user %>
    <%= link_to 'マイページ', mypage_path(current_user), class: 'btn btn-primary' %>
  <% end %>
</div>

<h2 class="mb-4">投稿一覧</h2>
<%= render 'public/posts/posts', posts: @posts %>












